<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" verbose="1" name="PetStore API Test Automation Suite" annotations="JDK" parallel="tests">

    <test name="Test PetStore API">
        <classes>
            <class name="com.qa.tests.TestPetOperations"/>
        </classes>
    </test>
</suite>